<footer class="footer">
  <!-- Barra de cores -->
  <div class="color-bar">
    <span class="c1"></span>
    <span class="c2"></span>
    <span class="c3"></span>
    <span class="c4"></span>
  </div>

  <div class="footer-content">
    <p>© 2026 – Acervo de Gibis Antigos</p>
    <p>Created by Joselito Moura
      <li>
        <a href="https://github.com/JoselitoMoura" target="_blank" rel="noopener" class="footer-link">
          GitHub
        </a>
      </li>
      <li>WhatsApp: +351 913793327</li>
    </p>

    <nav class="footer-nav">
      <a routerLink="/">Home</a>
      <!--<a routerLink="/acervo">Acervo</a>
      <a routerLink="/login">Login</a><-->
    </nav>
  </div>
</footer>
