<section class="home">
  <h2>Bem-vindo ao Acervo de Gibis Antigos📚</h2>
  <p>
    Um acervo de gibis antigos pode ser encontrado em sebos online, sites
    especializados em colecionáveis ou grandes bancos de dados de HQs que
    oferecem clássicos, além de arquivos digitais para leitura e download
    gratuito de obras em domínio público, como o Digital Comic Museum.

  </p>
  <p>
    Aqui você pode organizar, catalogar e visualizar sua coleção de gibis
    dos anos 70, 80 e 90 de forma simples e rápida.
  </p>

  <div class="home-actions">
    <a routerLink="/acervo" class="btn">
      Ver Acervo
    </a>
  </div>
</section>
